section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
}

p{
    margin-bottom: 30px;
    font-size: 1.5rem;
}

.articleClass{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40%;
    width: 100%;
    text-align: center;
}

a{
    background-color: lightcoral;
    border-radius: 15px;
    color: white;
    padding: 10px 45px;
    text-decoration: none;
}