header{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 35vh;
    padding-top: 40px;
}

h1{
    border-bottom: 1px solid white;
    color: #fff;
    padding: 0 0 40px 0;
    font-size: clamp(1rem,4vw,6rem);

}

h2{
    color:#000;
    font-size: clamp(1rem,2vw,3rem);
    margin: 40px 0;
}

p{
    text-align: center;
    width: 50%;
    margin: 30px 0;
    font-size: clamp(1rem,1.2vw,2rem);
}

article{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}